<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
    <!-- 1) Show an alert when the Button gets clicked -->
    <div>
        <button @click="showAlert">Show Alert</button>
    </div>
    <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
    <div>
        <input type="text" @keydown="updateValue">
        <p>{{ value }}</p>
    </div>
    <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
    <div>
        <input type="text" @keydown.enter="updateValue">
        <p>{{ value }}</p>
    </div>
</div>

<script>
new Vue({
        el: '#exercise',
        data: {
            value: ''
        },
        methods: {
            showAlert: function () {
                alert('hello');
            },
            updateValue: function (e) {
                this.value = e.target.value;
            }
        }
    });
</script>
