<script src="https://unpkg.com/vue/dist/vue.js"></script>
<div id="exercise">
   <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>{{ age * 3 }}</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p>{{ giveMeRandomNumber() }}</p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img style="width:100px;height:100px" v-bind:src="image">
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <input type="text" v-bind:value="name" v-on:input="updateName">
    </div>
</div>

<script>
new Vue({
  el: '#exercise',
  data: {
    name: 'Jonathan',
    age: '34',
    image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Vue.svg/1200px-Vue.svg.png'
  },
  methods: {
    giveMeRandomNumber: function() {
      return Math.random();
    },
    updateName: function(event) {
      this.name = event.target.value;
    }
  }
});
</script>
